<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dom practice </title>
  <style>
    .container{
    
    }
    .card
    {
       height: 200px;
      width: 800px;
      display: flex;
      border: 2px solid black;
      align-items: center;
      justify-items: center;

    }
    .image img {
     
      width: 200px;
    }
    h1{
      padding: 2px 0px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="image">
        <img src="https://i.ytimg.com/vi/kJEsTjH5mVg/maxresdefault.jpg" alt="">
      </div>
      <div class="text">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing </h1>
        <p>Lorem ipsum dolor sit amet.  345K    2months ago</p>
      </div>
    </div>
  </div>
</body>
</html>